* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff");
}

.ant-typography-disabled span {
  color: rgba(255, 160, 0, 0.4);
  border-color: rgba(255, 160, 0, 0.4);
  cursor: not-allowed;
}
